body{
    font-size:15px;
    font-family: Helvetica,sans-serif;
    color:#333;
}

/*topbar*/
section.topbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    padding:17px 10px;
    background:#D43c33;
    z-index:1;
    /*padding:5.3125vw 3.125vw*/
}
section.topbar .logo >svg{
    width:142px;
    /*width:44.375vw
    height:7.8125vw
    */
    height: 25px;
    vertical-align: top;
}
section.topbar > a{
    color:white;
    display:inline-block;
    font-size:15px;
    /*
    font-size:4.6875vw
    padding:1.5625vw 3.4375vw
    line-height:6.25vw;
    */
    padding:5px 10px;
    line-height: 20px;
    position: relative;
}
section.topbar > a::after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    border-radius:50px;
    /*border-radius:15.625vw*/
    width:200%;
    height: 200%;
    border:1px solid white;
    transform:scale(0.5);
    transform-origin:0 0 ;
}

/*tabs组件 */
.tabs{
    display:flex;
    border-bottom:1px solid #e8e8e8;
    position:fixed;
    width:100%;
    top: 64px;
    left: 0;
    z-index:1;
    background:#fff;
}
.tabs >li {
    width:33.333333%;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.tabs > li > .text{
    padding:10px 5px;
    position:relative;
}
.tabs > li.active{
    color: #d33a31;
}
.tabs > li.active > .text::after{
    content: '';
    position: absolute;
    height: 2px;
    background: #D43C33;
    bottom: 0;
    left: 0;
    width: 100%;
}


/*推荐歌单*/
.tab-content >li {
    display:none;
}
.tab-content > .active{
    display:block;
}

.playlists{
    margin-top:104px;
    padding-top:17px;
}
.playlists > h2{
    font-size:17px;
    margin-bottom:14px;
    position: relative;
    padding-left:9px;
}
.playlists > h2::after{
    content: "";
    position: absolute;
    left: 0;
    top: 55%;
    margin-top: -9px;
    width: 2px;
    height: 16px;
    background-color: #d33a31;
}
.playlists > .song{
    
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    font-size:13px;
}
.playlists > .song > li{
    width:32.8%;
    padding-bottom:10px;
    position: relative;
}
.playlists > .song > li > .cover > img{
    width:100%;
}
.playlists > .song > li > p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 18px;
    height: 40px;
    padding: 3px 2px 0 6px;
}
.playlists > .song > li > i{
    position: absolute;
    top:2px;
    right:5px;
    font-size:12px;
    color:white;
}


/*最新音乐*/

.songs{
    padding-top:22px;
}
.songs > h2{
    font-size:17px;
    margin-bottom:14px;
    line-height: 20px;
    position: relative;
    padding-left:9px;
}
.songs > h2::after{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    width: 2px;
    height: 16px;
    background-color: #d33a31;
}
.songs > .list > .ball-clip-rotate{
    position: relative;
    left: 50%;
}
.songs > .list > .ball-clip-rotate > div{
    border:2px solid #D33A30;
    border-bottom-color: transparent;
}
.songs > .list > li{
    padding:6px  0;
    margin-left:10px;
    position:relative;
    border-bottom:1px solid #e8e8e8;
}

.songs > .list > li > h3{
    font-size:17px;
    overflow: hidden;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right:50px;
}
.songs > .list > li > h3 > span{
    margin-left:4px;
    color:#888;
}
.songs > .list > li > h3 > .black{
    margin-left:4px;
    color:#333;
}
.songs > .list > li > p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:12px;
    color:#888;
    line-height: 18px;
    margin-right:50px;
}
.songs > .list > li > p > i{
    display:inline-block;
    width: 12px;
    height: 8px;
    margin-right: 4px;
    background:url(//i.loli.net/2017/08/24/599db480dee4c.png) no-repeat;
    background-size: 166px 97px;
}
.songs > .list > li > a{
    width: 22px;
    height: 22px;
    background-position: -24px 0;
    background:url(//i.loli.net/2017/08/24/599db480dee4c.png) no-repeat -24px 0;
    background-size: 166px 97px;
    position: absolute;
    right:10px;
    bottom:50%;
    transform: translateY(50%);
}

/*网易云音乐大logo*/

.art{
    padding-top:53.3%;
    margin-top:4px;
    background:url(//i.loli.net/2017/08/24/599e6aa8a91c2.png) no-repeat;
    background-size:contain;
    position:relative;
}
.logo-top{
    content:'';
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    text-align:center;
}
.logo-top > .logo {
    padding-top:16.9%;
}
.logo-top > .logo >svg{
    width: 230px;
    height: 44px;
}
.logo-top > .link{
    line-height: 38px;
    border: 1px solid #d33a31;
    border-radius: 38px;
    font-size: 16px;
    color: #d33a31;
    margin: 12px 37px 5px;
}
.logo-top > .copyright{
    color: #888;
    font-size: 12px;
    line-height: 16px;
    transform: scale(.75);
}


/*page2*/

.hot-song{
    margin-top:104px;
}
.hot-song > .background{
    position: relative;
    padding-top: 38.9%;
    background-size: contain;
    background-image: url(//i.loli.net/2017/08/27/59a2ba0edd1dc.jpg);
}
.hot-song > .background > .hot-top{
    display: flex;
    flex-direction:column;
    justify-content:center;
    padding-left:20px;
    background:rgba(0,0,0,.2);
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
}
.hot-song > .background > .hot-top > .logo{
    width:142px;
    height:67px;
    background:transparent url(//i.loli.net/2017/08/24/599db480dee4c.png) no-repeat -24px -30px;
    background-size: 166px 97px;
}
.hot-song > .background > .hot-top > .hot-time{
    margin-top:10px;
    color:hsla(0,0%,100%,.8);
    font-size:12px;
    transform:scale(.91);
    transform-origin:left top;
}

/*歌单列表*/

.hot-list > .list{
    margin-left:10px;
}
.hot-list > .list > li{
    margin-left:30px;
    position:relative;
    padding:6px 0;
    left:-2px;
    border-bottom:1px solid #e8e8e8;
}
.hot-list > .list > li > h3{
    font-size:17px;
    overflow: hidden;
    line-height: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right:50px;
}
.hot-list >.list > li > p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:12px;
    color:#888;
    line-height: 17px;
    margin-right:50px;
    
}
.hot-list >.list > li > p > i{
    display:inline-block;
    width: 12px;
    height: 8px;
    margin-right: 4px;
    background:url(//i.loli.net/2017/08/24/599db480dee4c.png) no-repeat;
    background-size: 166px 97px;           
}
.hot-list >.list > li > a{
    width: 22px;
    height: 22px;
    background-position: -24px 0;
    background:url(//i.loli.net/2017/08/24/599db480dee4c.png) no-repeat -24px 0;
    background-size: 166px 97px;
    position: absolute;
    right:8px;
    bottom:50%;
    transform: translateY(50%);         
}
.hot-list > .list > li > div{
    position: absolute;
    top:34%;
    left:-28px;
    font-size:17px;
    width:25px;
    color:#999;
}
.hot-list > .list > li > div.color{
    color:#d33a31;
}

.hot-list > .more{
    height:55px;
    line-height:55px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.hot-list > .more > span{
    color:#999;
    font-size:14px;
}
.hot-list > .more > span > i{
    color:rgba(232,232,232,.9);
    font-size:12px;
    padding-left:1px;
}
/*搜索*/
.seek{
    margin-top:104px;
}
.seek > .seek-top{
    padding:15px 10px;
    border-bottom:1px solid #e8e8e8;
}
.seek > .seek-top > .inputcover{
    position:relative;
    width:100%;
    height: 30px;
    padding:0 30px;
    background: #ebecec;
    border-radius:30px;
}
.seek > .seek-top > .inputcover > i{
    position:absolute;
    left:0;
    top:9px;
    margin:0 8px;
    vertical-align:middle;
    width:13px;
    height:13px;
    color:rgb(201,201,201);
}
.seek > .seek-top > .inputcover > input{
    width:100%;
    height:30px;
    line-height:18px;
    background: transparent;
    font-size:14px;
    color:#333;
    user-select: text;
    cursor: auto;
}
.seek > .seek-top > .inputcover > ::-webkit-input-placeholder{
    font-size:14px;
    color:#c9c9c9;
}
.seek > .seek-top > .inputcover > .close{
    position: absolute;
    right:0;
    top:0;
    width:30px;
    height:30px;
    line-height:28px;
    text-align:center;
}
.seek > .seek-top > .inputcover > .close > i{
    display:none;
    vertical-align:middle;
    width:14px;
    height:14px;
    color:#bcbdbd;
}
/*热门搜索*/
.seek > .hot-seek{
    padding:15px 10px 0;
    margin-top:-1px;
}
.seek > .hot-seek > h3{
    font-size:12px;
    line-height:12px;
    color:#666;
}
.seek > .hot-seek > ul{
    margin:10px 0 7px;
}
.seek > .hot-seek > ul > li{
    display:inline-block;
    height:32px;
    margin-right: 4px;
    margin-bottom: 8px;
    padding: 0 14px;
    font-size: 14px;
    line-height: 32px;
    color: #333;
    position:relative;
    cursor:pointer;
}
.seek > .hot-seek > ul > li:after{
    content:'';
    width: 200%;
    height: 200%;
    border-radius:32px;
    transform:scale(.5);
    border:1px solid #d3d4da;
    position:absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
}
/*热歌列表*/
.hotlist > ul > li{
    display:flex;
    align-items:center;
    height:45px;
}
.hotlist > ul > li > i{
    margin:0 10px;
    vertical-align:middle;
    width:15px;
    height:15px;
    color:#c9caca;
}
.hotlist > ul > li > div{
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    width: 1%;
    -webkit-box-align: center;
    align-items: center;
    height: 45px;
    position: relative;
    border-bottom:1px solid #e8e8e8;
}
.hotlist > ul > li > div > span{
    margin-right:10px;
    font-size:14px;
    cursor:pointer;
}
.hotlist > ul > li > div >.close{
    width: 32px;
    height: 32px;
    position:absolute;
    right:7px;
    top:12px;
}
.hotlist > ul > li > div >.close > i{
    margin-left:2px;
    vertical-align: middle;
    font-size:25px;
    color:#999899;
}